@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Cormorant&family=Noto+Sans+KR&family=Raleway&family=Roboto&display=swap');

body { font-family: 'Montserrat'; }
.row { max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px; }
.blind { width: 0; height: 0;
    position: absolute;
    text-indent: -9999px;
    font-size: 0px;
    overflow: hidden;
    line-height: 0; }



/* header section */
#header { color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 70px;
    width: 100%;
    z-index: 9999999; 
    background: #000; }
#header h1 { padding: 20px;
    font-size: 20px;
    font-weight: bold; }  



/* intro */
.intro_bg { width: 1000px;
    height: 100%; 
    position: fixed; bottom: 0;
    right: -420px;
    background: linear-gradient(-45deg, 
    #55fcf4, #05fbe6, #31e0d1);
    transform: skew(-40deg); }
.intro_box { display: flex; }
.intro_left, .intro_right { width: 50%; }
.intro_left { padding: 0 50px;}
.intro_left h2 { font-size: 120px;
    font-weight: 400;
    font-family: 'Cormorant', serif; 
    letter-spacing: 3px; 
    background-image: linear-gradient(transparent calc(65% - 5px), #31e0d1 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: all 0.5s; }
.intro_left:hover h2 { background-size: 100%; }

.intro_content { font-size: 15px; }
.intro_content table col:nth-child(1) { width: 20%; }
.intro_content table col:nth-child(2),
.intro_content table col:nth-child(3) { width: 40%; }
.intro_content table, 
.intro_content thead { border-bottom: 1px dashed #000; }
.intro_content thead th { text-align: left; 
    font-weight: bold;
    padding: 10px; }
.intro_content thead th:nth-child(3) { text-align: center; }
.intro_content tbody td { padding: 7px 10px; }
.intro_content tbody td:nth-child(3) { text-align: center; }

.intro_under { padding: 10px 0;}
.intro_under > div { display: flex;
    justify-content: space-between; 
    padding: 5px 10px;
    font-size: 15px; }
.intro_under h3 { width: 60%; }
.intro_under p { width: 40%; }
.intro_under h3, .intro_under p { text-align: center; }






/* about */
.about_box { display: flex; 
    border-left: 20px solid #ff0; 
    border-right: 20px solid #ff0; 
    padding: 0 100px; }


/* about_left */
.about_left { width: 33.33%; 
    padding: 100px 50px 100px 0; }

.about_info{ padding-bottom: 50px; }
.about_info p { font-size: 15px; }
.about_info p strong { font-size: 20px;
    font-weight: bold; 
    font-style: italic; 
    background-image: linear-gradient(transparent calc(65% - 5px), #ff0 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: all 0.5s; }
.about_box:hover .about_info p strong { background-size: 100%; }


.about_detail h2 { font-size: 25px; 
    padding: 30px 0 5px; 
    border-bottom: 1px dashed #000; }
.about_detail h3 { font-size: 13px;
    font-weight: normal;
    text-align: right;
    padding: 5px 0; }
.about_detail span { display: inline-block;
    font-size: 15px; 
    padding: 0 5px;
    margin-top: 15px;
    background: #ff0; }
.about_detail p { font-size: 15px; 
    padding: 5px 0; }
    

/* major */
.major > span { font-size: 15px; 
    padding: 0 5px;
    margin-top: 15px;
    background: #ff0; 
    color: #000; 
    display: inline-block; }
.major p span { font-size: 15px; 
    margin: 5px 20px 5px 0px;
    padding: 0 2px;
    background: #000;
    color: #fff; 
    display: inline-block;}
.major p { font-size: 15px;
    padding: 5px 0px; }


/* about_right */
.about_right { width: 66.66%; 
    border: 2px solid #000; 
    background: #fff;
    margin: 50px 0;
    padding: 10px; 
    display: flex; }
.about_content1, .about_content2 { width: 50%; 
    padding: 10px; }
.about_content1 h2 { font-size: 50px;
    font-family: 'Roboto';
    padding: 20px 0;}
.about_content1 h3 { font-size: 20px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    color: #fff;
    background: #000;
    padding: 5px; }


/* license */
.license { padding: 20px 0; 
    border-bottom: 10px solid #000; }
.license h5 { font-size: 18px;
    padding: 5px 0;
    border-bottom: 3px solid #000; }
.license p span { font-size: 15px; 
    margin: 5px 20px 0px 0px;
    padding: 0 2px;
    background: #000;
    color: #fff; }
.license p { font-size: 15px;
    padding: 10px 0px;
    width: 100%;
    border-bottom: 1px dashed #000; 
    display: inline-block; }


/* education */
.education { padding: 10px 0 20px; }
.education h5 { font-size: 18px;
    padding: 20px 0 5px;
    border-top: 1px dashed #000;
    border-bottom: 3px solid #000; }
.education span { display: inline-block;
    font-size: 15px; 
    margin-top: 10px;
    padding: 0 2px;
    background: #000;
    color: #fff; }
.education p { font-size: 15px;
    padding: 10px 0px;
    border-bottom: 1px dashed #000; }


/* d_skills */
.d_skills { padding: 20px 0; 
    border-bottom: 1px dashed #000; }
.d_skills h5 { font-size: 18px;
    padding: 5px 0; }

.d_skills col:nth-child(1) { width: auto; }
.d_skills col:nth-child(2) { width: 30%; }
.d_skills thead tr { border-bottom: 3px solid #000; }
.d_skills thead th { font-size: 13px;
    padding: 5px; }
.d_skills tbody { font-size: 15px; }
.d_skills tbody td { padding: 5px 20px;
    border-bottom: 1px solid #000; }
.d_skills tbody tr:last-child td { border-bottom: 3px solid #000; }
.d_skills tbody td:nth-child(2) { text-align: right; 
    font-weight: bold; } 


/* c_skills */
.c_skills { padding: 10px 0 20px; }
.c_skills h5 { font-size: 18px;
    padding: 20px 0 5px; 
    border-top: 10px solid #000; }
.c_skills_container { display: flex; 
    justify-content: center; 
    padding: 20px; }
.c_skills_container .program { padding: 0 10px; 
    width: 20%; }
.c_skills_container .score { width: 30px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #000; ;
    position: relative; }
.c_skills_container .myscore { width: 26px;
    height: 0%; 
    position: absolute;
    bottom: 0;
    display: inline-block;
    margin: auto; }

.c_skills_container span { font-size: 13px; 
    text-align: center; 
    display: block;
    padding-top: 10px; }

    
/* tooltip */ 
.tooltip p { font-size: 15px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 10px;
    visibility: hidden;
    width: 50px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -12px; }
.tooltip p:after { content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent; }
.tooltip:hover p { visibility: visible; }


/* graph */
.html .myscore { 
    background: #000; 
    animation: htmlscore 1s both; }
.css .myscore { 
    background: #000; 
    animation: cssscore 1s both 0.5s; }
.javascript .myscore { 
    background: #000; 
    animation: javascore 1s both 1s; }
.jquery .myscore { 
    background: #000; 
    animation: jqueryscore 1s both 1.5s; }
.react .myscore { 
    background: #000; 
    animation: reactscore 1s both 2s; }

@keyframes htmlscore {
    0% { height : 0% }
    100% { height: 80%; }
}
@keyframes cssscore {
    0% { height : 0% }
    100% { height: 75%; }
}
@keyframes javascore {
    0% { height : 0% }
    100% { height: 55%; }
}
@keyframes jqueryscore {
    0% { height : 0% }
    100% { height: 60%; }
}
@keyframes reactscore {
    0% { height : 0% }
    100% { height: 60%; }
}





/* Portfolio */
#section2 { height: 100%; 
    position: relative; }
.port_box { height: 400px; 
    width: 1200px;
    margin: 0 auto;
    position: relative; 
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3); }

.port_box .port { display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    background: #fff; }
.port_box .port_img { border-radius: 10px 0 0 10px;
    background-size: cover;
    background-repeat: no-repeat; }
.port_box .port .img1 { 
    background-image: url(../images/port1-1.png); }
.port_box .port .img2 { 
    background-image: url(../images/port2-1.png); }
.port_box .port .img3 { 
    background-image: url(../images/port3.png); }
.port_box .port .img4 { 
    background-image: url(../images/port4.png); }
.port_box .port .img5 { 
    background-image: url(https://via.placeholder.com/600x400); }
.port_box .port .img6 { 
    background-image: url(../images/port6.png); }


.port_text .port_top { display: flex;
    justify-content: space-between;
    border-radius: 0 10px 0 0;
    background: #000;
    position: relative; }
.port_text .port_top h2 { font-size: 35px; 
  padding: 15px 0 15px 20px;
  color: #55fcf4; }

/* top arrow */ 
.port_top .arrow { position: absolute;
    top: 45%; right: 40px;
	height: 14px; width: 14px;
	border: 1px solid #55fcf4cc;
	border-width: 3px 3px 0 0;
	transform: rotate(45deg); }
.port_top .arrow:before, .port_top .arrow:after { content: '';
	position: absolute;
	display: block;
	height: 11px; width: 11px;
	border-width: 3px 3px 0 0; }
.port_top .arrow:before { top: 7px; left: -10px; 
    border: 1px solid #55fcf473;
	border-width: 3px 3px 0 0;}
.port_top .arrow:after { top: -13px; left: 10px;
    border: 1px solid #55fcf4;
	border-width: 3px 3px 0 0; }

.port_content { display: flex; }



.port_detail { width: 70%;
    padding: 30px; }
.port_detail li { padding: 10px 0; }
.port_detail li h3 { font-size: 18px; 
    padding-top: 5px; }
.port_detail li span { font-size: 13px;
    color: #666; 
    display: block; }
.port_detail li p { font-size: 15px;
    padding-top: 5px; }

.port_btn { width: 30%; 
    border-left: 1px dashed #000; 
    padding: 270px 25px 0; }
.port_btn a { font-size: 18px;
    font-weight: bold;
    background: #000;
    color: #55fcf4; 
    border: 2px solid #000;
    border-radius: 30px;
    padding: 12px 15px; 
    cursor: pointer;
    transition: all 0.5s; }
.port_btn a:hover { border: 2px solid #55fcf4; 
    background: #55fcf4;
    color: #000; } 



/* slide button */
.port_box .marrow { font-size: 13px;
    background: #55fcf4;
    border-radius: 50%;
    width: 35px; height: 35px;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99; }
.port_box .prevArrow { left: -60px; }
.port_box .nextArrow { right: -60px; }













/* contact me */
#section3 { --offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));

    --move-initial2: calc(-55% + var(--offset));
    --move-final2: calc(-20% + var(--offset)); }


/* con_box - marquee */
/* .con_box { position: relative; } */
.marquee { overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn; }

.marquee_inner { width: fit-content;
    display: flex;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.5s;
    padding: 20px 0;
}
.marquee1 span { text-align: center; 
    font-style: italic; 
	white-space: nowrap;
    font-size: 130px; 
	padding: 0 1vw;
	font-weight: 900;
    line-height: 1.15; }

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.marquee_inner2 { width: fit-content;
    display: flex;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee2 6s linear infinite;
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s; }
.marquee2 span { text-align: center; 
    font-style: italic; 
    white-space: nowrap;
    font-size: 90px; 
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.15; }

@keyframes marquee2 {
	0% {
        transform: translate3d(var(--move-initial2), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final2), 0, 0);
	}
}

/* con_text, copyright */
.con_text { position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
    background: #fff;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
    z-index: 9; }
.con_text h2 { font-size: 50px;}
.con_direct h3 { font-size: 25px; 
    padding: 40px 0; }
.con_direct span { background: #ff0; }
.con_direct p { font-size: 15px;
    padding: 10px 0 20px; 
    transition: all 0.5s; }
.con_direct p:hover { font-weight: bold; }

.copyright { position: absolute;
    bottom: 80px; left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    font-size: 13px; }











/* footer section */
#footer { color: #fff;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 70px;
    width: 100%;
    z-index: 9999999; 
    background: #000; }
#footer .nav { text-align: center;
    padding: 0 20px;
    font-size: 15px; 
    font-weight: bold; }  
#footer .nav li { display: inline-block; 
    position: relative; }
#footer .nav li a { display: block; 
    padding: 25px; }
#footer .nav li.current a { color: #55fcf4; }
#footer .nav li.current a:after { content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; }


